.name{
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans';
    font-size: 2;3px;
    display: inline;
}

.speech{
    color:rgb(26, 25, 25)
    font-family: monospace;
    font-size: 25px;
}

.direction{
    color: rgb(215, 119, 119);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color:rgb(151, 227, 212);
}

.direction:hover{
    color: rgb(52, 42, 189);
    background-color: rgb(213, 183, 145);
}

.CAPTAIN{
    color:blanchedalmond;
    font-size: 20px;
}

.NURSE{
    color:brown;
    font-size: 20px;
}

.ORDERLY{
    color:aqua;
    font-size: 20px;
}

table,th,td {
    border: 1.5px solid;
    border-collapse: collapse;
    text-align: center;
    color: rgb(219, 162, 201);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

tr:nth-child(3){
    background-color: rgb(140, 212, 155);
}
tr:nth-child(even){
    background-color: rgb(122, 158, 205);
}

.CAPTAIN:hover {
    background-color: rgb(121, 228, 193);
    color: rgb(31, 230, 97);
    text-shadow: 3px 3px 5px lightpink;
    border: 20px solid rgb(228, 12, 174);
    

}

.NURSE:hover {
    background-color: rgb(128, 236, 200);
    color: rgb(31, 230, 97);
    text-shadow: 3px 3px 5px lightpink;
    border: 20px solid rgb(228, 12, 174);
}

.ORDERLY:hover {
    background-color: rgb(101, 224, 183);
    color: rgb(31, 230, 97);
    text-shadow: 3px 3px 5px lightpink;
    border: 20px solid rgb(228, 12, 174);
}

ul.navbar-horizontal{
    display:flex; 
}
ul li{
    margin: 20px;
    padding: 30px; 
    list-style: none;}
         li a{
            text-decoration: none;
            background-color:rgb(151, 138, 151);
         }